<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>About Us - Pc Shop App</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-black navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Category</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/pc">PC</a></li>
                <li><a class="dropdown-item" href="/laptop">Laptop</a></li>
                <li><a class="dropdown-item" href="/accessory">Accessory</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-link text-white" role="button">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-link text-white" role="button">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-link text-white" role="button">
                    <a class="nav-link" href="/addProduct">Add Product</a>
                </li>
            </ul>
        </div>
        
    </nav>
    
    <div class="container mt-5">
        <div class="text-center"><h1><img src="//my-store.msi.com/cdn/shop/files/logo_100x25.png?v=1683278508"></h1></div>
        <h2>About Us</h2>
        <p>
            Welcome to Pc Shop App, your number one source for all things PC. We're dedicated to giving you the very best of PC products, with a focus on quality, customer service, and uniqueness.
        </p>
        <h2>History</h2>
        <p>
            Founded in 2000, Pc Shop App has come a long way from its beginnings. When we first started out, our passion for providing the best equipment for our fellow PC enthusiasts drove us to start our own business.
        </p>
        <p>
            We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please contact us.
        </p>
        <p>
            Sincerely, <br> The Pc Shop App Team
        </p>
    </div>
</body>
</html>
