<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Contact Us - Pc Shop App</title>
    <style>
        .contact-section {
            padding: 2rem 0;
        }

        .contact-card {
            border: none;
            margin-bottom: 2rem;
        }

        .contact-card .card-header {
            background-color: #fff;
            font-weight: bold;
        }

        .contact-card .card-body {
            padding: 0.5rem 1rem;
        }

        .contact-card .contact-info {
            display: flex;
            align-items: center;
        }

        .contact-card .contact-info i {
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-black navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                    data-bs-toggle="dropdown">Category</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pc">PC</a></li>
                        <li><a class="dropdown-item" href="/laptop">Laptop</a></li>
                        <li><a class="dropdown-item" href="/accessory">Accessory</a></li>
                    </ul>
                <ul class="navbar-nav">
                    <li class="nav-link text-white" role="button">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-link text-white" role="button">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-link text-white" role="button">
                        <a class="nav-link" href="/addProduct">Add Product</a>
                    </li>
                </ul>
            </div>

    </nav>

    <div class="container contact-section">
        <div class="text-center"><h1><img src="//my-store.msi.com/cdn/shop/files/logo_100x25.png?v=1683278508"></h1></div>
        <h2>For inquiries, please contact us:</h2>
        <p>For sales inquiry, stock availability, membership program, trade-in, payment methods, kindly contact the
            phone number or email listed below.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card contact-card">
                    <div class="card-header">Sales</div>
                    <div class="card-body">
                        <div class="contact-info">
                            <b>sales@pcshopapp.com</b>
                        </div>
                    </div>
                </div>

                <div class="card contact-card">
                    <div class="card-header">Dealer</div>
                    <div class="card-body">
                        <div class="contact-info">
                            <b>dealer@pcshopapp.com</b>
                        </div>
                    </div>
                </div>

                <div class="card contact-card">
                    <div class="card-header">Corporate</div>
                    <div class="card-body">
                        <div class="contact-info">
                            <b>corporatesales@pcshopapp.com</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card contact-card">
                    <div class="card-header">E-Store Inquiry</div>
                    <div class="card-body">
                        <div class="contact-info">
                            <b>onlinestore@pcshopapp.com</b>
                        </div>

                        <div class="contact-info">
                            <span>0111-0808456</span>
                        </div>
                    </div>
                </div>

                <div class="card contact-card">
                    <div class="card-header">Vacancy</div>
                    <div class="card-body">
                        <div class="contact-info">
                            <b>joinus@pcshopapp.com</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card contact-card">
                    <div class="card-header">Customer Service</div>
                    <div class="card-body">
                        <p>After-Sales Support / Assistance / Feedback</p>
                        <p>Office Hour Only: 10am - 6pm (Mon-Fri)</p>
                        <div class="contact-info">
                            <b>customerservice@pcshopapp.com</b>
                        </div>

                        <div class="contact-info">
                            <i class="bi bi-telephone-fill"></i>
                            <span>011-55032024</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>